#body {
    font-family: sans-serif;
    width: 1080px;
    margin: 0px auto;
    font-size: 18px;
}

#main {

}

#profile {
    
}

#profile-about {
    font-size: 36px;
    font-style: italic;
    margin-top: 32px;
}

#profile-picture {
    float: right;
    text-align: center;
    margin-left: 10px;
    margin-top: 15px;
}

#profile-intro {
    margin-top: 50px;
}

#profile-name {
    font-size: 54px;
    font-weight: bold;
    font-style: italic;
    margin-top: 15px;   
    text-decoration: underline;
    text-align: center;
}

#socials {
    font-size: 36px;
    font-style: italic;
    margin-top: 63px;
    text-align: right;
}

.socials-img {
    width: 60px;
    height: auto;
    margin-top: -22px;
}

#experience {
    font-size: 18px;
}

#experience-header{
    font-style: italic;
    margin-top: 90px;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
}

#experience-title{
    text-align: left;
    font-size: 26px;
}

#experience-info{
    font-size: 16px;
}

#experience-desc{
    font-size: 14px;
    color: rgb(201, 200, 200);
}

#projects {
    font-size: 18px;
}

#projects-header{
    font-style: italic;
    margin-top: 90px;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
}

#projects-title{
    text-align: left;
    font-size: 26px;
}

#projects-info{
    font-size: 16px;
}

#projects-desc{
    font-size: 14px;
    color: rgb(201, 200, 200);
}